
.container {
    width: 400px;
    margin: 50px auto;
    padding: 25px;
    background-color: lightblue;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}
.container input {
    width: 90%;
    padding: 10px;
    margin: 15px 0;
    border: 2px solid #4facfe;
    border-radius: 8px;
    font-size: 16px;
}
.container button {
    width: 100%;
    padding: 10px;
    background: #0077b6;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.container button:hover {
    background: #023e8a;
}
.weather-card {
    width:400px;
    margin:20px auto;
    padding:20px;
    background-color:lightpink;
    border-radius:15px;
    box-shadow:0 8px 20px rgba(0, 0, 0, 0.2);
}
.weather-card h2 {
    color :#0077b6;
}
.weather-card h3 {
    background: #f5f5f5;
    padding: 10px;
    border-radius: 8px;
    margin: 10px 0;
}