*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: lightsalmon;
    color: rgb(18, 63, 189);
    flex-wrap: wrap;
}
.main{
    height: 600px;
    width: 550px;
    border: 2px solid rgb(192, 19, 77);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:lightslategray;
}
header ,nav,footer{
    height: 80px;
    border: 1px solid brown;
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: wheat;
}
#content{
    height: 300px;
  
    margin: 4px;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}
.content1{
    width: 150px;
    border: 1px solid brown;
    border-radius: 4px;
    background-color:rgb(150, 124, 40);
    color: black;
}
.maincontent{
    width: 250px;
    border: 1px solid brown;
    border-radius: 4px;
    background-color: rgb(224, 86, 109);
    color: black;
}
.content2{
    width: 150px;
    border: 1px solid brown;
    border-radius: 4px;
    background-color:rgb(150, 124, 40);
    color: black;
}
.content1,.content2,.maincontent{
    display: flex;
    align-items: center;
    justify-content: center;
}